Builds/Builds.Client/Service References/BuildService/Builds.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://bob.apsim.info/APSIM.Build.Service/Builds.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BuildService" />
  <xs:element name="AddBuild">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pullRequestNumber" type="xs:int" />
        <xs:element minOccurs="0" name="issueID" type="xs:int" />
        <xs:element minOccurs="0" name="issueTitle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBuildResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpgradesSincePullRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pullRequestID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpgradesSincePullRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BuildService" minOccurs="0" name="GetUpgradesSincePullRequestResult" nillable="true" type="q1:ArrayOfUpgrade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>