ApsimNG/Web References/ApsoilWeb/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.apsim.info/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://www.apsim.info/AbstractTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.apsim.info/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.apsim.info/">
      <s:element name="SoilNames">
        <s:complexType />
      </s:element>
      <s:element name="SoilNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoilNamesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AllSoilNames">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IncludeUserSoils" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AllSoilNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AllSoilNamesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAllSoils">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Contents" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAllSoilsResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateSoil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="soilPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contents" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSoilResponse">
        <s:complexType />
      </s:element>
      <s:element name="SoilXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SoilXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoilXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetSoilInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoilName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSoilInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSoilInfoResult" type="tns:SoilInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SoilInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoilType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Distance" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="ASCOrder" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ASCSubOrder" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Site" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NearestTown" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSoilAnalysisInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoilName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSoilAnalysisInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSoilAnalysisInfoResult" type="tns:SoilAnalysisInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SoilAnalysisInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Thickness" type="tns:ArrayOfDouble" />
          <s:element minOccurs="0" maxOccurs="1" name="Texture" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="EC" type="tns:ArrayOfDouble" />
          <s:element minOccurs="0" maxOccurs="1" name="PH" type="tns:ArrayOfDouble" />
          <s:element minOccurs="0" maxOccurs="1" name="CL" type="tns:ArrayOfDouble" />
          <s:element minOccurs="0" maxOccurs="1" name="Boron" type="tns:ArrayOfDouble" />
          <s:element minOccurs="0" maxOccurs="1" name="ESP" type="tns:ArrayOfDouble" />
          <s:element minOccurs="0" maxOccurs="1" name="AL" type="tns:ArrayOfDouble" />
          <s:element minOccurs="0" maxOccurs="1" name="LL15" type="tns:ArrayOfDouble" />
          <s:element minOccurs="0" maxOccurs="1" name="DUL" type="tns:ArrayOfDouble" />
          <s:element minOccurs="0" maxOccurs="1" name="Crops" type="tns:ArrayOfSoilCropInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDouble">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="double" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSoilCropInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SoilCropInfo" nillable="true" type="tns:SoilCropInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SoilCropInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LL" type="tns:ArrayOfDouble" />
          <s:element minOccurs="0" maxOccurs="1" name="KL" type="tns:ArrayOfDouble" />
          <s:element minOccurs="0" maxOccurs="1" name="XF" type="tns:ArrayOfDouble" />
        </s:sequence>
      </s:complexType>
      <s:element name="SoilTypes">
        <s:complexType />
      </s:element>
      <s:element name="SoilTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoilTypesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PAW">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoilName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Thickness" type="tns:ArrayOfDouble" />
            <s:element minOccurs="0" maxOccurs="1" name="SW" type="tns:ArrayOfDouble" />
            <s:element minOccurs="1" maxOccurs="1" name="IsGravimetric" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="CropName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PAWResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PAWResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PAWC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoilName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CropName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PAWCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PAWCResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertSoilSampleXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoilSampleXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertSoilSampleXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConvertSoilSampleXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SoilChartPNG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoilName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SoilChartPNGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoilChartPNGResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SoilChartWithSamplePNG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoilName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Thickness" type="tns:ArrayOfDouble" />
            <s:element minOccurs="0" maxOccurs="1" name="SW" type="tns:ArrayOfDouble" />
            <s:element minOccurs="1" maxOccurs="1" name="IsGravimetric" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SoilChartWithSamplePNGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoilChartWithSamplePNGResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchSoilsReturnInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Radius" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="SoilType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchSoilsReturnInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchSoilsReturnInfoResult" type="tns:ArrayOfSoilInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSoilInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SoilInfo" nillable="true" type="tns:SoilInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="ClosestMatchingSoils">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="thickness" type="tns:ArrayOfDouble" />
            <s:element minOccurs="0" maxOccurs="1" name="pawc" type="tns:ArrayOfDouble" />
            <s:element minOccurs="0" maxOccurs="1" name="sw" type="tns:ArrayOfDouble" />
            <s:element minOccurs="0" maxOccurs="1" name="cropName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="numSoilsToReturn" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="swAtCLL" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="swIsGrav" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClosestMatchingSoilsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClosestMatchingSoilsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SoilAsJson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SoilAsJsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoilAsJsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserSoil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Params" type="tns:JsonSoilParam" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="JsonSoilParam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="JSonSoil" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateUserSoilResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUserSoilResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PAWCJson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Params" type="tns:PAWCJsonParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PAWCJsonParams">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="JSonSoil" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PAWCJsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PAWCJsonResult" type="tns:ArrayOfPAWCByCrop" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPAWCByCrop">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PAWCByCrop" nillable="true" type="tns:PAWCByCrop" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PAWCByCrop">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CropName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PAWC" type="tns:ArrayOfDouble" />
          <s:element minOccurs="1" maxOccurs="1" name="PAWCTotal" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchSoils">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Params" type="tns:SearchSoilsParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SearchSoilsParams">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Radius" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="ASCOrder" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ASCSubOrder" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchSoilsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchSoilsResult" type="tns:ArrayOfSoilInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AllAustralianSoils">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Params" type="tns:SearchSoilsParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AllAustralianSoilsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AllAustralianSoilsResult" type="tns:ArrayOfSoilBasicInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSoilBasicInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SoilBasicInfo" nillable="true" type="tns:SoilBasicInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SoilBasicInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="SoilChartPNGFromXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SoilChartPNGFromXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoilChartPNGFromXMLResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="SoilInfo" nillable="true" type="tns:SoilInfo" />
      <s:element name="SoilAnalysisInfo" nillable="true" type="tns:SoilAnalysisInfo" />
      <s:element name="double" type="s:double" />
      <s:element name="base64Binary" nillable="true" type="s:base64Binary" />
      <s:element name="ArrayOfSoilInfo" nillable="true" type="tns:ArrayOfSoilInfo" />
    </s:schema>
    <s:schema targetNamespace="http://www.apsim.info/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SoilNamesSoapIn">
    <wsdl:part name="parameters" element="tns:SoilNames" />
  </wsdl:message>
  <wsdl:message name="SoilNamesSoapOut">
    <wsdl:part name="parameters" element="tns:SoilNamesResponse" />
  </wsdl:message>
  <wsdl:message name="AllSoilNamesSoapIn">
    <wsdl:part name="parameters" element="tns:AllSoilNames" />
  </wsdl:message>
  <wsdl:message name="AllSoilNamesSoapOut">
    <wsdl:part name="parameters" element="tns:AllSoilNamesResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAllSoilsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAllSoils" />
  </wsdl:message>
  <wsdl:message name="UpdateAllSoilsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAllSoilsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoilSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSoil" />
  </wsdl:message>
  <wsdl:message name="UpdateSoilSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSoilResponse" />
  </wsdl:message>
  <wsdl:message name="SoilXMLSoapIn">
    <wsdl:part name="parameters" element="tns:SoilXML" />
  </wsdl:message>
  <wsdl:message name="SoilXMLSoapOut">
    <wsdl:part name="parameters" element="tns:SoilXMLResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="GetSoilInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetSoilInfo" />
  </wsdl:message>
  <wsdl:message name="GetSoilInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetSoilInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetSoilAnalysisInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetSoilAnalysisInfo" />
  </wsdl:message>
  <wsdl:message name="GetSoilAnalysisInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetSoilAnalysisInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SoilTypesSoapIn">
    <wsdl:part name="parameters" element="tns:SoilTypes" />
  </wsdl:message>
  <wsdl:message name="SoilTypesSoapOut">
    <wsdl:part name="parameters" element="tns:SoilTypesResponse" />
  </wsdl:message>
  <wsdl:message name="PAWSoapIn">
    <wsdl:part name="parameters" element="tns:PAW" />
  </wsdl:message>
  <wsdl:message name="PAWSoapOut">
    <wsdl:part name="parameters" element="tns:PAWResponse" />
  </wsdl:message>
  <wsdl:message name="PAWCSoapIn">
    <wsdl:part name="parameters" element="tns:PAWC" />
  </wsdl:message>
  <wsdl:message name="PAWCSoapOut">
    <wsdl:part name="parameters" element="tns:PAWCResponse" />
  </wsdl:message>
  <wsdl:message name="ConvertSoilSampleXMLSoapIn">
    <wsdl:part name="parameters" element="tns:ConvertSoilSampleXML" />
  </wsdl:message>
  <wsdl:message name="ConvertSoilSampleXMLSoapOut">
    <wsdl:part name="parameters" element="tns:ConvertSoilSampleXMLResponse" />
  </wsdl:message>
  <wsdl:message name="SoilChartPNGSoapIn">
    <wsdl:part name="parameters" element="tns:SoilChartPNG" />
  </wsdl:message>
  <wsdl:message name="SoilChartPNGSoapOut">
    <wsdl:part name="parameters" element="tns:SoilChartPNGResponse" />
  </wsdl:message>
  <wsdl:message name="SoilChartWithSamplePNGSoapIn">
    <wsdl:part name="parameters" element="tns:SoilChartWithSamplePNG" />
  </wsdl:message>
  <wsdl:message name="SoilChartWithSamplePNGSoapOut">
    <wsdl:part name="parameters" element="tns:SoilChartWithSamplePNGResponse" />
  </wsdl:message>
  <wsdl:message name="SearchSoilsReturnInfoSoapIn">
    <wsdl:part name="parameters" element="tns:SearchSoilsReturnInfo" />
  </wsdl:message>
  <wsdl:message name="SearchSoilsReturnInfoSoapOut">
    <wsdl:part name="parameters" element="tns:SearchSoilsReturnInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ClosestMatchingSoilsSoapIn">
    <wsdl:part name="parameters" element="tns:ClosestMatchingSoils" />
  </wsdl:message>
  <wsdl:message name="ClosestMatchingSoilsSoapOut">
    <wsdl:part name="parameters" element="tns:ClosestMatchingSoilsResponse" />
  </wsdl:message>
  <wsdl:message name="SoilAsJsonSoapIn">
    <wsdl:part name="parameters" element="tns:SoilAsJson" />
  </wsdl:message>
  <wsdl:message name="SoilAsJsonSoapOut">
    <wsdl:part name="parameters" element="tns:SoilAsJsonResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoilSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserSoil" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoilSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserSoilResponse" />
  </wsdl:message>
  <wsdl:message name="PAWCJsonSoapIn">
    <wsdl:part name="parameters" element="tns:PAWCJson" />
  </wsdl:message>
  <wsdl:message name="PAWCJsonSoapOut">
    <wsdl:part name="parameters" element="tns:PAWCJsonResponse" />
  </wsdl:message>
  <wsdl:message name="SearchSoilsSoapIn">
    <wsdl:part name="parameters" element="tns:SearchSoils" />
  </wsdl:message>
  <wsdl:message name="SearchSoilsSoapOut">
    <wsdl:part name="parameters" element="tns:SearchSoilsResponse" />
  </wsdl:message>
  <wsdl:message name="AllAustralianSoilsSoapIn">
    <wsdl:part name="parameters" element="tns:AllAustralianSoils" />
  </wsdl:message>
  <wsdl:message name="AllAustralianSoilsSoapOut">
    <wsdl:part name="parameters" element="tns:AllAustralianSoilsResponse" />
  </wsdl:message>
  <wsdl:message name="SoilChartPNGFromXMLSoapIn">
    <wsdl:part name="parameters" element="tns:SoilChartPNGFromXML" />
  </wsdl:message>
  <wsdl:message name="SoilChartPNGFromXMLSoapOut">
    <wsdl:part name="parameters" element="tns:SoilChartPNGFromXMLResponse" />
  </wsdl:message>
  <wsdl:message name="SoilNamesHttpGetIn" />
  <wsdl:message name="SoilNamesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="AllSoilNamesHttpGetIn">
    <wsdl:part name="IncludeUserSoils" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AllSoilNamesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="UpdateAllSoilsHttpGetIn">
    <wsdl:part name="Contents" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateAllSoilsHttpGetOut" />
  <wsdl:message name="UpdateSoilHttpGetIn">
    <wsdl:part name="soilPath" type="s:string" />
    <wsdl:part name="contents" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateSoilHttpGetOut" />
  <wsdl:message name="SoilXMLHttpGetIn">
    <wsdl:part name="Name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SoilXMLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetIn">
    <wsdl:part name="Name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetOut" />
  <wsdl:message name="GetSoilInfoHttpGetIn">
    <wsdl:part name="SoilName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSoilInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:SoilInfo" />
  </wsdl:message>
  <wsdl:message name="GetSoilAnalysisInfoHttpGetIn">
    <wsdl:part name="SoilName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSoilAnalysisInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:SoilAnalysisInfo" />
  </wsdl:message>
  <wsdl:message name="SoilTypesHttpGetIn" />
  <wsdl:message name="SoilTypesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="PAWHttpGetIn">
    <wsdl:part name="SoilName" type="s:string" />
    <wsdl:part name="Thickness" type="s1:StringArray" />
    <wsdl:part name="SW" type="s1:StringArray" />
    <wsdl:part name="IsGravimetric" type="s:string" />
    <wsdl:part name="CropName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PAWHttpGetOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="PAWCHttpGetIn">
    <wsdl:part name="SoilName" type="s:string" />
    <wsdl:part name="CropName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PAWCHttpGetOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="ConvertSoilSampleXMLHttpGetIn">
    <wsdl:part name="SoilSampleXML" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConvertSoilSampleXMLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SoilChartPNGHttpGetIn">
    <wsdl:part name="SoilName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SoilChartPNGHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="SoilChartWithSamplePNGHttpGetIn">
    <wsdl:part name="SoilName" type="s:string" />
    <wsdl:part name="Thickness" type="s1:StringArray" />
    <wsdl:part name="SW" type="s1:StringArray" />
    <wsdl:part name="IsGravimetric" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SoilChartWithSamplePNGHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="SearchSoilsReturnInfoHttpGetIn">
    <wsdl:part name="Latitude" type="s:string" />
    <wsdl:part name="Longitude" type="s:string" />
    <wsdl:part name="Radius" type="s:string" />
    <wsdl:part name="SoilType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchSoilsReturnInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfSoilInfo" />
  </wsdl:message>
  <wsdl:message name="ClosestMatchingSoilsHttpGetIn">
    <wsdl:part name="thickness" type="s1:StringArray" />
    <wsdl:part name="pawc" type="s1:StringArray" />
    <wsdl:part name="sw" type="s1:StringArray" />
    <wsdl:part name="cropName" type="s:string" />
    <wsdl:part name="numSoilsToReturn" type="s:string" />
    <wsdl:part name="swAtCLL" type="s:string" />
    <wsdl:part name="swIsGrav" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClosestMatchingSoilsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="SoilAsJsonHttpGetIn">
    <wsdl:part name="Name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SoilAsJsonHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SoilChartPNGFromXMLHttpGetIn">
    <wsdl:part name="XML" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SoilChartPNGFromXMLHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="SoilNamesHttpPostIn" />
  <wsdl:message name="SoilNamesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="AllSoilNamesHttpPostIn">
    <wsdl:part name="IncludeUserSoils" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AllSoilNamesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="UpdateAllSoilsHttpPostIn">
    <wsdl:part name="Contents" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateAllSoilsHttpPostOut" />
  <wsdl:message name="UpdateSoilHttpPostIn">
    <wsdl:part name="soilPath" type="s:string" />
    <wsdl:part name="contents" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateSoilHttpPostOut" />
  <wsdl:message name="SoilXMLHttpPostIn">
    <wsdl:part name="Name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SoilXMLHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostIn">
    <wsdl:part name="Name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostOut" />
  <wsdl:message name="GetSoilInfoHttpPostIn">
    <wsdl:part name="SoilName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSoilInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:SoilInfo" />
  </wsdl:message>
  <wsdl:message name="GetSoilAnalysisInfoHttpPostIn">
    <wsdl:part name="SoilName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSoilAnalysisInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:SoilAnalysisInfo" />
  </wsdl:message>
  <wsdl:message name="SoilTypesHttpPostIn" />
  <wsdl:message name="SoilTypesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="PAWHttpPostIn">
    <wsdl:part name="SoilName" type="s:string" />
    <wsdl:part name="Thickness" type="s1:StringArray" />
    <wsdl:part name="SW" type="s1:StringArray" />
    <wsdl:part name="IsGravimetric" type="s:string" />
    <wsdl:part name="CropName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PAWHttpPostOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="PAWCHttpPostIn">
    <wsdl:part name="SoilName" type="s:string" />
    <wsdl:part name="CropName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PAWCHttpPostOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="ConvertSoilSampleXMLHttpPostIn">
    <wsdl:part name="SoilSampleXML" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConvertSoilSampleXMLHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SoilChartPNGHttpPostIn">
    <wsdl:part name="SoilName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SoilChartPNGHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="SoilChartWithSamplePNGHttpPostIn">
    <wsdl:part name="SoilName" type="s:string" />
    <wsdl:part name="Thickness" type="s1:StringArray" />
    <wsdl:part name="SW" type="s1:StringArray" />
    <wsdl:part name="IsGravimetric" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SoilChartWithSamplePNGHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="SearchSoilsReturnInfoHttpPostIn">
    <wsdl:part name="Latitude" type="s:string" />
    <wsdl:part name="Longitude" type="s:string" />
    <wsdl:part name="Radius" type="s:string" />
    <wsdl:part name="SoilType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchSoilsReturnInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfSoilInfo" />
  </wsdl:message>
  <wsdl:message name="ClosestMatchingSoilsHttpPostIn">
    <wsdl:part name="thickness" type="s1:StringArray" />
    <wsdl:part name="pawc" type="s1:StringArray" />
    <wsdl:part name="sw" type="s1:StringArray" />
    <wsdl:part name="cropName" type="s:string" />
    <wsdl:part name="numSoilsToReturn" type="s:string" />
    <wsdl:part name="swAtCLL" type="s:string" />
    <wsdl:part name="swIsGrav" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClosestMatchingSoilsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="SoilAsJsonHttpPostIn">
    <wsdl:part name="Name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SoilAsJsonHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SoilChartPNGFromXMLHttpPostIn">
    <wsdl:part name="XML" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SoilChartPNGFromXMLHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="SoilNames">
      <wsdl:input message="tns:SoilNamesSoapIn" />
      <wsdl:output message="tns:SoilNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AllSoilNames">
      <wsdl:input message="tns:AllSoilNamesSoapIn" />
      <wsdl:output message="tns:AllSoilNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAllSoils">
      <wsdl:input message="tns:UpdateAllSoilsSoapIn" />
      <wsdl:output message="tns:UpdateAllSoilsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSoil">
      <wsdl:input message="tns:UpdateSoilSoapIn" />
      <wsdl:output message="tns:UpdateSoilSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SoilXML">
      <wsdl:input message="tns:SoilXMLSoapIn" />
      <wsdl:output message="tns:SoilXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSoilInfo">
      <wsdl:input message="tns:GetSoilInfoSoapIn" />
      <wsdl:output message="tns:GetSoilInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSoilAnalysisInfo">
      <wsdl:input message="tns:GetSoilAnalysisInfoSoapIn" />
      <wsdl:output message="tns:GetSoilAnalysisInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SoilTypes">
      <wsdl:input message="tns:SoilTypesSoapIn" />
      <wsdl:output message="tns:SoilTypesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PAW">
      <wsdl:input message="tns:PAWSoapIn" />
      <wsdl:output message="tns:PAWSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PAWC">
      <wsdl:input message="tns:PAWCSoapIn" />
      <wsdl:output message="tns:PAWCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertSoilSampleXML">
      <wsdl:input message="tns:ConvertSoilSampleXMLSoapIn" />
      <wsdl:output message="tns:ConvertSoilSampleXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SoilChartPNG">
      <wsdl:input message="tns:SoilChartPNGSoapIn" />
      <wsdl:output message="tns:SoilChartPNGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SoilChartWithSamplePNG">
      <wsdl:input message="tns:SoilChartWithSamplePNGSoapIn" />
      <wsdl:output message="tns:SoilChartWithSamplePNGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchSoilsReturnInfo">
      <wsdl:input message="tns:SearchSoilsReturnInfoSoapIn" />
      <wsdl:output message="tns:SearchSoilsReturnInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClosestMatchingSoils">
      <wsdl:input message="tns:ClosestMatchingSoilsSoapIn" />
      <wsdl:output message="tns:ClosestMatchingSoilsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SoilAsJson">
      <wsdl:input message="tns:SoilAsJsonSoapIn" />
      <wsdl:output message="tns:SoilAsJsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserSoil">
      <wsdl:input message="tns:UpdateUserSoilSoapIn" />
      <wsdl:output message="tns:UpdateUserSoilSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PAWCJson">
      <wsdl:input message="tns:PAWCJsonSoapIn" />
      <wsdl:output message="tns:PAWCJsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchSoils">
      <wsdl:input message="tns:SearchSoilsSoapIn" />
      <wsdl:output message="tns:SearchSoilsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AllAustralianSoils">
      <wsdl:input message="tns:AllAustralianSoilsSoapIn" />
      <wsdl:output message="tns:AllAustralianSoilsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SoilChartPNGFromXML">
      <wsdl:input message="tns:SoilChartPNGFromXMLSoapIn" />
      <wsdl:output message="tns:SoilChartPNGFromXMLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="SoilNames">
      <wsdl:input message="tns:SoilNamesHttpGetIn" />
      <wsdl:output message="tns:SoilNamesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AllSoilNames">
      <wsdl:input message="tns:AllSoilNamesHttpGetIn" />
      <wsdl:output message="tns:AllSoilNamesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAllSoils">
      <wsdl:input message="tns:UpdateAllSoilsHttpGetIn" />
      <wsdl:output message="tns:UpdateAllSoilsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSoil">
      <wsdl:input message="tns:UpdateSoilHttpGetIn" />
      <wsdl:output message="tns:UpdateSoilHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SoilXML">
      <wsdl:input message="tns:SoilXMLHttpGetIn" />
      <wsdl:output message="tns:SoilXMLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpGetIn" />
      <wsdl:output message="tns:DeleteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSoilInfo">
      <wsdl:input message="tns:GetSoilInfoHttpGetIn" />
      <wsdl:output message="tns:GetSoilInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSoilAnalysisInfo">
      <wsdl:input message="tns:GetSoilAnalysisInfoHttpGetIn" />
      <wsdl:output message="tns:GetSoilAnalysisInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SoilTypes">
      <wsdl:input message="tns:SoilTypesHttpGetIn" />
      <wsdl:output message="tns:SoilTypesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PAW">
      <wsdl:input message="tns:PAWHttpGetIn" />
      <wsdl:output message="tns:PAWHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PAWC">
      <wsdl:input message="tns:PAWCHttpGetIn" />
      <wsdl:output message="tns:PAWCHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertSoilSampleXML">
      <wsdl:input message="tns:ConvertSoilSampleXMLHttpGetIn" />
      <wsdl:output message="tns:ConvertSoilSampleXMLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SoilChartPNG">
      <wsdl:input message="tns:SoilChartPNGHttpGetIn" />
      <wsdl:output message="tns:SoilChartPNGHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SoilChartWithSamplePNG">
      <wsdl:input message="tns:SoilChartWithSamplePNGHttpGetIn" />
      <wsdl:output message="tns:SoilChartWithSamplePNGHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchSoilsReturnInfo">
      <wsdl:input message="tns:SearchSoilsReturnInfoHttpGetIn" />
      <wsdl:output message="tns:SearchSoilsReturnInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ClosestMatchingSoils">
      <wsdl:input message="tns:ClosestMatchingSoilsHttpGetIn" />
      <wsdl:output message="tns:ClosestMatchingSoilsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SoilAsJson">
      <wsdl:input message="tns:SoilAsJsonHttpGetIn" />
      <wsdl:output message="tns:SoilAsJsonHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SoilChartPNGFromXML">
      <wsdl:input message="tns:SoilChartPNGFromXMLHttpGetIn" />
      <wsdl:output message="tns:SoilChartPNGFromXMLHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="SoilNames">
      <wsdl:input message="tns:SoilNamesHttpPostIn" />
      <wsdl:output message="tns:SoilNamesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AllSoilNames">
      <wsdl:input message="tns:AllSoilNamesHttpPostIn" />
      <wsdl:output message="tns:AllSoilNamesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAllSoils">
      <wsdl:input message="tns:UpdateAllSoilsHttpPostIn" />
      <wsdl:output message="tns:UpdateAllSoilsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSoil">
      <wsdl:input message="tns:UpdateSoilHttpPostIn" />
      <wsdl:output message="tns:UpdateSoilHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SoilXML">
      <wsdl:input message="tns:SoilXMLHttpPostIn" />
      <wsdl:output message="tns:SoilXMLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpPostIn" />
      <wsdl:output message="tns:DeleteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSoilInfo">
      <wsdl:input message="tns:GetSoilInfoHttpPostIn" />
      <wsdl:output message="tns:GetSoilInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSoilAnalysisInfo">
      <wsdl:input message="tns:GetSoilAnalysisInfoHttpPostIn" />
      <wsdl:output message="tns:GetSoilAnalysisInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SoilTypes">
      <wsdl:input message="tns:SoilTypesHttpPostIn" />
      <wsdl:output message="tns:SoilTypesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PAW">
      <wsdl:input message="tns:PAWHttpPostIn" />
      <wsdl:output message="tns:PAWHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PAWC">
      <wsdl:input message="tns:PAWCHttpPostIn" />
      <wsdl:output message="tns:PAWCHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertSoilSampleXML">
      <wsdl:input message="tns:ConvertSoilSampleXMLHttpPostIn" />
      <wsdl:output message="tns:ConvertSoilSampleXMLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SoilChartPNG">
      <wsdl:input message="tns:SoilChartPNGHttpPostIn" />
      <wsdl:output message="tns:SoilChartPNGHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SoilChartWithSamplePNG">
      <wsdl:input message="tns:SoilChartWithSamplePNGHttpPostIn" />
      <wsdl:output message="tns:SoilChartWithSamplePNGHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchSoilsReturnInfo">
      <wsdl:input message="tns:SearchSoilsReturnInfoHttpPostIn" />
      <wsdl:output message="tns:SearchSoilsReturnInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ClosestMatchingSoils">
      <wsdl:input message="tns:ClosestMatchingSoilsHttpPostIn" />
      <wsdl:output message="tns:ClosestMatchingSoilsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SoilAsJson">
      <wsdl:input message="tns:SoilAsJsonHttpPostIn" />
      <wsdl:output message="tns:SoilAsJsonHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SoilChartPNGFromXML">
      <wsdl:input message="tns:SoilChartPNGFromXMLHttpPostIn" />
      <wsdl:output message="tns:SoilChartPNGFromXMLHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SoilNames">
      <soap:operation soapAction="http://www.apsim.info/SoilNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllSoilNames">
      <soap:operation soapAction="http://www.apsim.info/AllSoilNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAllSoils">
      <soap:operation soapAction="http://www.apsim.info/UpdateAllSoils" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSoil">
      <soap:operation soapAction="http://www.apsim.info/UpdateSoil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoilXML">
      <soap:operation soapAction="http://www.apsim.info/SoilXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://www.apsim.info/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSoilInfo">
      <soap:operation soapAction="http://www.apsim.info/GetSoilInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSoilAnalysisInfo">
      <soap:operation soapAction="http://www.apsim.info/GetSoilAnalysisInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoilTypes">
      <soap:operation soapAction="http://www.apsim.info/SoilTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PAW">
      <soap:operation soapAction="http://www.apsim.info/PAW" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PAWC">
      <soap:operation soapAction="http://www.apsim.info/PAWC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertSoilSampleXML">
      <soap:operation soapAction="http://www.apsim.info/ConvertSoilSampleXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoilChartPNG">
      <soap:operation soapAction="http://www.apsim.info/SoilChartPNG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoilChartWithSamplePNG">
      <soap:operation soapAction="http://www.apsim.info/SoilChartWithSamplePNG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSoilsReturnInfo">
      <soap:operation soapAction="http://www.apsim.info/SearchSoilsReturnInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosestMatchingSoils">
      <soap:operation soapAction="http://www.apsim.info/ClosestMatchingSoils" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoilAsJson">
      <soap:operation soapAction="http://www.apsim.info/SoilAsJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserSoil">
      <soap:operation soapAction="http://www.apsim.info/UpdateUserSoil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PAWCJson">
      <soap:operation soapAction="http://www.apsim.info/PAWCJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSoils">
      <soap:operation soapAction="http://www.apsim.info/SearchSoils" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllAustralianSoils">
      <soap:operation soapAction="http://www.apsim.info/AllAustralianSoils" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoilChartPNGFromXML">
      <soap:operation soapAction="http://www.apsim.info/SoilChartPNGFromXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SoilNames">
      <soap12:operation soapAction="http://www.apsim.info/SoilNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllSoilNames">
      <soap12:operation soapAction="http://www.apsim.info/AllSoilNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAllSoils">
      <soap12:operation soapAction="http://www.apsim.info/UpdateAllSoils" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSoil">
      <soap12:operation soapAction="http://www.apsim.info/UpdateSoil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoilXML">
      <soap12:operation soapAction="http://www.apsim.info/SoilXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://www.apsim.info/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSoilInfo">
      <soap12:operation soapAction="http://www.apsim.info/GetSoilInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSoilAnalysisInfo">
      <soap12:operation soapAction="http://www.apsim.info/GetSoilAnalysisInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoilTypes">
      <soap12:operation soapAction="http://www.apsim.info/SoilTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PAW">
      <soap12:operation soapAction="http://www.apsim.info/PAW" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PAWC">
      <soap12:operation soapAction="http://www.apsim.info/PAWC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertSoilSampleXML">
      <soap12:operation soapAction="http://www.apsim.info/ConvertSoilSampleXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoilChartPNG">
      <soap12:operation soapAction="http://www.apsim.info/SoilChartPNG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoilChartWithSamplePNG">
      <soap12:operation soapAction="http://www.apsim.info/SoilChartWithSamplePNG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSoilsReturnInfo">
      <soap12:operation soapAction="http://www.apsim.info/SearchSoilsReturnInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosestMatchingSoils">
      <soap12:operation soapAction="http://www.apsim.info/ClosestMatchingSoils" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoilAsJson">
      <soap12:operation soapAction="http://www.apsim.info/SoilAsJson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserSoil">
      <soap12:operation soapAction="http://www.apsim.info/UpdateUserSoil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PAWCJson">
      <soap12:operation soapAction="http://www.apsim.info/PAWCJson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSoils">
      <soap12:operation soapAction="http://www.apsim.info/SearchSoils" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllAustralianSoils">
      <soap12:operation soapAction="http://www.apsim.info/AllAustralianSoils" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoilChartPNGFromXML">
      <soap12:operation soapAction="http://www.apsim.info/SoilChartPNGFromXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SoilNames">
      <http:operation location="/SoilNames" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllSoilNames">
      <http:operation location="/AllSoilNames" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAllSoils">
      <http:operation location="/UpdateAllSoils" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UpdateSoil">
      <http:operation location="/UpdateSoil" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SoilXML">
      <http:operation location="/SoilXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetSoilInfo">
      <http:operation location="/GetSoilInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSoilAnalysisInfo">
      <http:operation location="/GetSoilAnalysisInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoilTypes">
      <http:operation location="/SoilTypes" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PAW">
      <http:operation location="/PAW" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PAWC">
      <http:operation location="/PAWC" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertSoilSampleXML">
      <http:operation location="/ConvertSoilSampleXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoilChartPNG">
      <http:operation location="/SoilChartPNG" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoilChartWithSamplePNG">
      <http:operation location="/SoilChartWithSamplePNG" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSoilsReturnInfo">
      <http:operation location="/SearchSoilsReturnInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosestMatchingSoils">
      <http:operation location="/ClosestMatchingSoils" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoilAsJson">
      <http:operation location="/SoilAsJson" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoilChartPNGFromXML">
      <http:operation location="/SoilChartPNGFromXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SoilNames">
      <http:operation location="/SoilNames" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllSoilNames">
      <http:operation location="/AllSoilNames" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAllSoils">
      <http:operation location="/UpdateAllSoils" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UpdateSoil">
      <http:operation location="/UpdateSoil" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SoilXML">
      <http:operation location="/SoilXML" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetSoilInfo">
      <http:operation location="/GetSoilInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSoilAnalysisInfo">
      <http:operation location="/GetSoilAnalysisInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoilTypes">
      <http:operation location="/SoilTypes" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PAW">
      <http:operation location="/PAW" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PAWC">
      <http:operation location="/PAWC" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertSoilSampleXML">
      <http:operation location="/ConvertSoilSampleXML" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoilChartPNG">
      <http:operation location="/SoilChartPNG" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoilChartWithSamplePNG">
      <http:operation location="/SoilChartWithSamplePNG" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSoilsReturnInfo">
      <http:operation location="/SearchSoilsReturnInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosestMatchingSoils">
      <http:operation location="/ClosestMatchingSoils" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoilAsJson">
      <http:operation location="/SoilAsJson" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoilChartPNGFromXML">
      <http:operation location="/SoilChartPNGFromXML" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="https://apsimdev.apsim.info/ApsoilWebService/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="https://apsimdev.apsim.info/ApsoilWebService/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="https://apsimdev.apsim.info/ApsoilWebService/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="https://apsimdev.apsim.info/ApsoilWebService/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>