UserInterface/Service References/BuildService/Builds.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Builds" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://bob.apsim.info/APSIM.Build.Service/Builds.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://bob.apsim.info/APSIM.Build.Service/Builds.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://bob.apsim.info/APSIM.Build.Service/Builds.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BuildService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBuildProvider_AddBuild_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBuild" />
  </wsdl:message>
  <wsdl:message name="IBuildProvider_AddBuild_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBuildResponse" />
  </wsdl:message>
  <wsdl:message name="IBuildProvider_GetUpgradesSinceIssue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUpgradesSinceIssue" />
  </wsdl:message>
  <wsdl:message name="IBuildProvider_GetUpgradesSinceIssue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUpgradesSinceIssueResponse" />
  </wsdl:message>
  <wsdl:message name="IBuildProvider_RegisterUpgrade_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUpgrade" />
  </wsdl:message>
  <wsdl:message name="IBuildProvider_RegisterUpgrade_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUpgradeResponse" />
  </wsdl:message>
  <wsdl:portType name="IBuildProvider">
    <wsdl:operation name="AddBuild">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuildProvider/AddBuild" message="tns:IBuildProvider_AddBuild_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuildProvider/AddBuildResponse" message="tns:IBuildProvider_AddBuild_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUpgradesSinceIssue">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuildProvider/GetUpgradesSinceIssue" message="tns:IBuildProvider_GetUpgradesSinceIssue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuildProvider/GetUpgradesSinceIssueResponse" message="tns:IBuildProvider_GetUpgradesSinceIssue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUpgrade">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuildProvider/RegisterUpgrade" message="tns:IBuildProvider_RegisterUpgrade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuildProvider/RegisterUpgradeResponse" message="tns:IBuildProvider_RegisterUpgrade_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBuildProvider" type="tns:IBuildProvider">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddBuild">
      <soap:operation soapAction="http://tempuri.org/IBuildProvider/AddBuild" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpgradesSinceIssue">
      <soap:operation soapAction="http://tempuri.org/IBuildProvider/GetUpgradesSinceIssue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUpgrade">
      <soap:operation soapAction="http://tempuri.org/IBuildProvider/RegisterUpgrade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Builds">
    <wsdl:port name="BasicHttpBinding_IBuildProvider" binding="tns:BasicHttpBinding_IBuildProvider">
      <soap:address location="http://bob.apsim.info/APSIM.Build.Service/Builds.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>